@import "../../../../styles/variables";

.formB {
  display: grid;
  align-items: flex-end;

  border-radius: 3px;

  grid-template-columns: 135px 145px 100px 135px 12px 163px;
  justify-items: start;
}

.formM {
  grid-template-columns: 91px 127px 99px 8px 124px;
}

.wrapper {
  width: 100%;

  &:last-of-type > div {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:first-of-type > div {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.labelB,
.itemB {
  font: 1.25rem/1 $font-family-secondary;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
}

.labelB {
  display: inline-block;

  margin: 0 0 16px;
  padding: 0 0 0 4px;

  text-align: center;
  letter-spacing: 0.2px;

  color: $black-light;
}

.labelM {
  display: none;
}

.itemsContainerB {
  height: 69px;
  padding: 10px 0;

  background-color: $white;
  box-shadow: 0 4px 40px rgb(0 0 0 / 4%);
}

.itemsContainerM {
  height: 44px;
}

.itemB {
  padding: 16px;
  padding-left: 30px;

  border-left: 1px solid #dedede;

  border-radius: 0;
  box-shadow: none;
}

.itemM {
  padding: 3px 20px;

  border-width: 1.3px !important;
}

.rateB {
  padding-left: 32px;

  color: $black-light;
}

.from {
  border: none;
}

.submitB {
  grid-column: 6 / 7;

  width: 100%;
  height: 69px;
}

.submitM {
  grid-column: 5 / 6;

  width: 100%;

  box-shadow: none;
}

.hover {
  position: relative;

  display: none;

  padding: 14px 56px 14px 20px;

  border-radius: 5px;
  background-color: $white;

  &::after {
    position: absolute;
    top: 10px;
    right: 19px;

    width: 22px;
    height: 22px;

    content: "";

    background: url("/icon-pen.svg") no-repeat;
    background-size: 25px;
  }
}

.small {
  display: inline-block;

  cursor: pointer;
  letter-spacing: 0.2px;

  font-family: $font-family-secondary;
  font-size: 17px;

  &:hover .filled {
    display: none;
  }

  &:hover .hover {
    display: inline-block;
  }
}

.mobile {
  display: none;
}

@media (max-width: 730px) {
  .formB {
    grid-template-columns: 135px 145px 100px 135px;
    row-gap: 8px;
  }

  .submitB {
    grid-column: 1 / 3;
  }
}

@media (max-width: 565px) {
  .formB {
    gap: 20px 10px;
    grid-template:
      "from to" 76px
      "currency rate" 76px
      "button button" 55px
      / 1fr 1fr;
  }

  .itemsContainerB {
    height: 49px;
    padding: 0;
  }

  .fromBlock {
    grid-area: from;
  }

  .itemB {
    padding: 17px;

    border: none;
    border-radius: 5px;
  }

  .labelB {
    margin: 0 0 12px;
  }

  .submitB {
    height: 55px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
