@import "../../../../styles/variables";

.btn {
  display: inline-block;

  padding: 14px 22px;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  letter-spacing: 0.2px;

  border: none;
  border-radius: 3px;

  font-size: 17px;

  font-style: normal;
  line-height: 1;
}

.primary {
  color: $white;
  background-color: $primary;
  box-shadow: 0 4px 40px 0 rgb(93 170 255 / 29%);

  font-family: $font-family-secondary, sans-serif;
  font-weight: 500;

  &:hover {
    background-color: $primary-hover;
  }
}

.white {
  color: $black;
  background-color: $white;

  box-shadow: 0 4px 40px 0 rgb(46 80 87 / 12%);

  font-family: $font-family-primary, sans-serif;
  font-weight: 600;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.arrow {
  display: inline-block;

  margin-left: 14px;
}
