@import "../../../../styles/variables";

.label {
  display: none;
}

.searchBar {
  position: relative;

  display: grid;

  width: 100%;
  max-width: 492px;
  height: 53px;
  grid-template-columns: 1fr 114px;
  gap: 8px;

  @media (max-width: 565px) {
    width: 60%;
    height: 30px;
    margin: -50px 0 0 70px;
    padding: 0;
    grid-template-columns: 1fr;
  }
}

.searchInputBig,
.searchInputSmall {
  font: 1.25rem/1 $font-family-secondary;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
}

.searchInputBig {
  display: inline-block;

  @media (max-width: 565px) {
    display: none;
  }
}

.searchInputSmall {
  display: none;

  height: 30px;
  padding: 7px 1px;

  border-bottom: 1.5px solid $black-light;
  border-radius: 0;
  background: $gray-light;
  box-shadow: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $gray-light inset !important;
    -webkit-text-fill-color: $black;
  }

  @media (max-width: 565px) {
    display: block;
  }
}

.result {
  overflow-y: auto;

  height: 408px;
  margin: 58px 0 0;
  padding: 0 4px 0 0;

  @media (max-width: 565px) {
    height: calc(100vh - 80px);
    margin: 25px -20px 0;
    padding: 0;
  }
}

.item {
  display: grid;
  align-items: center;

  padding: 0 27px 0 0;

  border: 1px solid $gray;
  border-radius: 3px;
  background: #f8faff;

  grid-template-columns: 120px 1fr 132px;
  gap: 30px;

  &:not(:last-child) {
    margin: 0 0 5px;
  }

  @media (max-width: 565px) {
    grid-template-columns: 69px 1fr 68px;
    gap: 22px;

    padding: 0 20px;
  }
}

.img {
  width: 120px;
  height: 91px;

  border-right: 0.5px solid $gray !important;

  @media (max-width: 565px) {
    width: 69px;
    height: 48px;
    margin: 6px 0;

    border-right: none !important;
  }
}

.text {
  font-size: 17px;

  @media (max-width: 565px) {
    font-size: 1rem;
  }
}

.btnSearch {
  box-shadow: 0 4px 40px rgb(0 0 0 / 15%);

  @media (max-width: 565px) {
    display: none;
  }
}

.btnSelect {
  box-shadow: 0 4px 40px 0 rgb(46 80 87 / 12%);

  @media (max-width: 565px) {
    padding: 10px;

    font-size: 10px;
  }
}

.prompt {
  position: absolute;
  z-index: 10;
  top: -16px;
  right: -506px;
}

.title {
  letter-spacing: -1px;

  font-size: 23px;
  line-height: 1;
}
