@import "../../../../styles/variables";

.title {
  margin-top: 168px;

  letter-spacing: -1px;

  font-size: 23px;
  line-height: 1;
}

.label {
  display: none;
}

.item {
  position: relative;

  display: inline-flex;
  align-items: center;

  border-radius: 3px;
  background: #f8faff;

  &Prompt {
    position: absolute;
    z-index: 10;
    right: -58px;
    bottom: 15px;
  }
}

.text {
  padding: 27px;

  letter-spacing: -1px;

  font-size: 17px;
  font-style: normal;
}

.counter {
  display: flex;

  &Wrapper {
    display: flex;
    align-items: center;

    margin: 24px 0;
  }

  &Title {
    margin: 0 35px 0 0;

    letter-spacing: 0.2px;

    font-size: 15px;
  }

  &Btn {
    width: 53px;
    height: 53px;

    cursor: pointer;

    color: $primary;
    border: none;
    background-color: $white;

    font-size: 25px;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &Input {
    width: 53px;

    text-align: center;

    border-radius: 0;
    box-shadow: none;
  }
}

.form {
  position: relative;

  &Prompt {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: -600px;

    padding: 16.5px 20px;
  }

  &Input {
    display: block;

    max-width: 319px;
    margin: 15px 0 0;
  }

  &Btn {
    margin: 36px 9px 0 0;
    padding: 19px 64px;

    @media (max-width: 1230px) {
      padding: 19px 40px;
    }
  }
}
