.wrapper {
  display: grid;

  min-height: 150vh;
  padding: 0 20px;
  grid-template:
    ". header ." auto
    ". body ." 1fr
    / auto minmax(700px, 1246px) auto;
}

.header {
  grid-area: header;

  margin-top: 46px;
}

.main {
  grid-area: body;

  width: 100%;
}

.home {
  background: url("/main-img.png") no-repeat;
  background-position: 157px 113px;

  @media (max-width: 1700px) {
    background-position: 234px 173px;
  }

  @media (max-width: 1000px) {
    background-position: 77px 62px;
  }
}
