.title {
  margin: 156px 0 48px;

  @media (max-width: 565px) {
    margin: 35px 0 24px;
  }
}

.formContainer {
  position: relative;

  display: block;
}

.promptSubmit {
  position: absolute;
  top: -49px;
  left: 344px;
}

.promptForm {
  margin: 24px 0 0;
}
