@import "./variables";

.wrapper {
  display: grid;

  margin: 70px 0 0;
  grid-template-columns: minmax(320px, 630px) minmax(340px, 1fr);
  gap: 42px 120px;

  @media (max-width: 1200px) {
    gap: 30px 90px;
  }

  @media (max-width: 1100px) {
    column-gap: 45px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 565px) {
    margin: 20px 0 0;
  }
}

.addingTitle,
.addingBlock {
  @media (max-width: 1024px) {
    display: none;
  }
}

@media (max-width: 565px) {
  .searchTitle {
    display: none;
  }
}

.hystmodal {
  position: absolute;
  z-index: 99;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 20px 20px 0;

  background-color: $gray-light;

  @media (min-width: 565px) {
    display: none;
  }
}

.btnCloseModal {
  position: absolute;
  top: -46px;
  left: 20px;

  width: 80%;
  height: 50px;

  cursor: pointer;

  border: none;
  background: url("../presentation/component/layout/Header/arrow-header.svg") no-repeat;
  background-color: $gray-light;
  background-position: 0 center;
}
