$black: #606f7a;
$black-light: #b7b7b7;
$primary: #5daaff;
$primary-hover: #2876cc;
$white: #fff;
$white-light: #fcfdff;
$gray: #e2e4ea;
$gray-light: #eff3f9;
$font-family-primary: opensans, sans-serif;
$font-family-secondary: roboto, sans-serif;
