@import "../../styles/variables";

.label {
  display: none;
}

.searchBar {
  position: relative;

  display: grid;

  width: 100%;
  max-width: 492px;
  height: 53px;
  grid-template-columns: 1fr 114px;
  gap: 8px;
}

.result {
  overflow-y: scroll;

  height: 408px;
  margin: 58px 0 0;
  padding: 0 4px 0 0;
}

.item {
  display: grid;
  align-items: center;

  padding: 0 27px 0 0;

  border: 1px solid $gray;
  border-radius: 3px;
  background: #f8faff;

  grid-template-columns: 120px 1fr 132px;
  gap: 30px;

  &:not(:last-child) {
    margin: 0 0 5px;
  }
}

.img {
  border-right: 0.5px solid $gray !important;
}

.text {
  font-size: 17px;
}

.btnSearch {
  box-shadow: 0 4px 40px rgb(0 0 0 / 15%);
}

.btnSelect {
  box-shadow: 0 4px 40px 0 rgb(46 80 87 / 12%);
}

.prompt {
  position: absolute;
  z-index: 10;
  top: -16px;
  right: -506px;
}
