.header {
  position: relative;

  display: grid;
  align-items: center;
  grid-template-columns: 223px auto 132px;
  grid-template-areas: "logo form button";
}

.logo {
  grid-area: logo;
}

.form {
  grid-area: form;
}

.button {
  grid-area: button;
}

.prompt {
  position: absolute;
  top: 50px;
  left: 223px;

  padding: 16px 20px;
}
