@import "fonts";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;

  color: $black;

  background-color: $gray-light;

  font: 12px/1 $font-family-primary;
  font-weight: 400;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
