.header {
  margin: 156px 0 48px;
}

.formContainer {
  position: relative;

  display: inline-block;
}

.promptSubmit {
  position: absolute;
  top: -49px;
  right: 0;
}

.promptForm {
  margin: 24px 0 0;
}
