.header {
  margin: 156px 0 48px;
}

.form-container {
  position: relative;

  display: inline-block;
}

.prompt-submit {
  position: absolute;
  top: -49px;
  right: 0;
}

.prompt-form {
  margin: 24px 0 0;
}
